


<form class="example-form" [formGroup]="userprofileForm" (ngSubmit)="onSubmit()"> 
  <h2 class="col-sm-12 mb-2">Company Details</h2>
  

  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Company Name</mat-label>
        <input matInput placeholder="" formControlName="companyName" value="companyName" required/>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Company Address</mat-label>
        <input matInput placeholder="" formControlName ="companyAddress" value="" required />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="" type="number" formControlName ="companyPhone" value="" [pattern]="'[789][0-9]{9}'" required/>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>Website</mat-label>
        <input matInput placeholder=""  formControlName ="companyWebsite" value=""  required/>
      </mat-form-field>
    </div>
   
    
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>About</mat-label>
          <textarea matInput placeholder="" formControlName ="about"  required></textarea>
        </mat-form-field>
  </div>
   
  </div>

  <button mat-raised-button class="create" [disabled]="!userprofileForm.valid" [value]="">Create</button>
  <button mat-raised-button mat-dialog-close id="cancel">Close</button>

</form>




