<mat-nav-list>
  <div class="logo py-4">
    <img src="../../assets/images/logo1234.png" alt="" class="image" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class=""></h2>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>home</mat-icon>Home
  </a>

  
  <a mat-list-item routerLink="/companies" routerLinkActive="list-item-active">
    <mat-icon>picture_in_picture</mat-icon>Companies
  </a>
  <a mat-list-item routerLink="/admincomponent" routerLinkActive="list-item-active">
    <mat-icon>account_balance_wallet</mat-icon>Admin
  </a>
  <a mat-list-item routerLink="/employee" routerLinkActive="list-item-active">
    <mat-icon>badge</mat-icon>Employee
  </a>
  <a mat-list-item routerLink="/leave" routerLinkActive="list-item-active">
    <mat-icon>calendar_today</mat-icon>Apply Leave
  </a>
  <a mat-list-item routerLink="/profile" routerLinkActive="list-item-active">
    <mat-icon>account_circle</mat-icon>Profile
  </a>
</mat-nav-list>