<div class="container-fluid page">
    <div class="page__box p-3 mt-2">Profile</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data  ">
            <mat-card class="example-card">
              <section class="page--header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4">
                            <h2 class="page--title h5">User Profile</h2>
                            
                        </div>
                    </div>
                </div>
            </section>
            <section class="main--content">
                <div class="row gutter-20">
                    <div class="col-lg-4">
                        <div class="panel profile-cover">
                            <div > <mat-icon class="profil">account_circle</mat-icon>
                                
                            </div>
                            
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                      
                            <div class="panel-heading">
                                <h3 class="panel-title"><b>About Me</b></h3>
                            </div>
                            <h3>First Name :</h3>
                            <input type="text" name="firstName" value="">
                            <h3>Phone no :</h3>
                            <input type="email" name="" value=""><br><br><br>
                            

                            <button mat-raised-button color="primary">Save changes</button>

                        
                    </div>
                    <div class="col-lg-4">
                      
                      <div class="panel-heading">
                          <h3 class="panel-title text-white" >1</h3>
                      </div>
                      <h3>Email :</h3>
                      <input type="text" name="firstName" value="">
                      <h3>Company Name :</h3>
                      <input type="email" name="" value="">
                     


                  
              </div>
                    
                </div>
            </section>
                
              </mat-card>
            
            
        </div><br>
       </div>
</div>